# CodeCombat Environment Configuration
# Configure as chaves secretas aqui

# Stripe API Keys
COCO_STRIPE_SECRET_KEY=

# GitHub OAuth
COCO_GITHUB_CLIENT_SECRET=

# CloudFlare API
COCO_CLOUDFLARE_API_KEY=
COCO_CLOUDFLARE_API_EMAIL=

# Close.io API
COCO_CLOSEIO_API_KEY=

# Google reCAPTCHA
COCO_GOOGLE_RECAPTCHA_SECRET_KEY=

# PayPal
COCO_PAYPAL_CLIENT_SECRET=EEp-AscLo_-_59jMBgrPFWUaMrI_HJEY8Mf1ESD7OJ8DSIFbKtVe1btqP2SAZXR_llP_oosvJYFWEjUZ

# SendGrid API
COCO_SENDGRID_API_KEY=

# MongoDB
MONGO_URL=mongodb://mongo:27017/coco

# Redis
REDIS_URL=redis://redis:6379

# Node Environment
NODE_ENV=development
